src/test/resources/xmlschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           attributeFormDefault="unqualified" 
           elementFormDefault="qualified">

  <xs:element name="Pet">
    <xs:complexType>

      <!-- CHANGED: xs:sequence → xs:all (allows any order) -->
      <xs:all>

        <xs:element name="category" minOccurs="0">
          <xs:complexType>
            <!-- Keep xs:sequence INSIDE nested elements — that's fine -->
            <xs:sequence>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="id" type="xs:string"/>
        <xs:element name="name" type="xs:string"/>

        <xs:element name="photoUrls" minOccurs="0">
          <xs:complexType>
            <!-- Keep xs:sequence INSIDE nested elements — that's fine -->
            <xs:sequence>
              <xs:element name="photoUrl" type="xs:string" 
                          minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="tags" minOccurs="0">
          <xs:complexType>
            <!-- Keep xs:sequence INSIDE nested elements — that's fine -->
            <xs:sequence>
              <xs:element name="tag" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:string" minOccurs="0"/>
                    <xs:element name="name" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="status" type="xs:string" minOccurs="0"/>

      <!-- CHANGED: closing xs:all -->
      </xs:all>

    </xs:complexType>
  </xs:element>

</xs:schema>